@model IEnumerable<MVC.Models.Attendance>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Compname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttdId">Edit</a> |
              @*   <a asp-action="Details" asp-route-id="@item.AttdId">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.AttdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
